<html ng-app="App">
<head>
    <title>Angular 1.1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/epimovies.js"></script>
</head>

<body>
<div ng-controller="Movie">
    <h1>Un cinéma</h1>
    <div class="w3-card-4"
         style="width:70%; margin:10px;">
        <header class="w3-container w3-theme">
            <h4><b>{{m.title}}</b></h4>
        </header>
        <div class="w3-container">
            <img ng-if="m.poster != null"
                 ng-src="{{m.poster}}"
                 class="w3-left" style="margin:10px;"/>
            <p style="padding:10px;">{{m.plot}}</p>

            <div class="rating" ng-controller="Like">
                <button title="like" ng-click="SendData(m.id, 1)">
                    <i class="w3-xxlarge fa fa-thumbs-up"
                       style="margin-bottom:15px;margin-right:10px"></i></button>
                {{ PostDataResponse }}
                {{ ResponseDetails }}
            </div>
        </div>
    </div>
</div>
</body>
</html>